<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://birthdaygreeting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c9426c29-3d5c-4756-9f17-d0a3b2024498/resourceGroups/Napro/providers/Microsoft.Web/sites/BirthdayGreeting</ResourceId>
    <UserName>$BirthdayGreeting</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://birthdaygreeting.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>